.item {
}
.item img{
	width:100%;
}
.item-text {
	color:#666;
}
.item-title {
	color: #000;
	margin: 10px;
	font-size:1.7em;
	text-align: center;
}
.item-meta {
	color: #959595;
	margin: 14px 0 0px;
	font-size:1em;
	text-align: center;
}
.item-content {
	color: #333;
	font-size:1.1em;
	margin-top:20px;
}
.item-content p {
	margin-top:15px;
}
.item-foot {
	margin:30px 0px;
	padding:15px 0px;
	border-top:solid 1px #ebebeb;
	border-bottom:solid 1px #ebebeb;
}
.item-foot p{
	margin:0px;
}
.item-foot span{
}
.item-tag{
	text-align:right;
}
.item-tag span{
	margin-left:5px;
}
.item-source {
	float:left;
	letter-spacing:1px;
	font-size:0.85em;
	vertical-align:baseline;
}
.item-similar {
	margin-bottom:30px;
	border-bottom:solid 1px #ebebeb;
}
.item-similar table{
	margin-bottom:30px;
}
.table > tbody > tr > td{
	padding:8px 0px;
	border:none;
}
.table-responsive{
	border:none;
}